{% extends "base.html" %}
{% load static %}

    {% block link %}{% endblock link %}



    {% block content %}
    
    <div class="container mt-5">

        
        
          <br><br><br>
        </div>
        <div class="container mt-4">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col ">
              <div class="card  text-center border-secondary border-2  "style="height: 480px;">
                <img src="5323fb4b-942d-4827-add0-de0a8373b04a.jpeg"  alt="taj" class="card-img-top" style="height: 250px;" >
                <div class="card-body ">
                  <h5 class="card-title">Taj Mahal</h5>
                  <p>Taj Mahal: Stunning white marble mausoleum in Agra, India, built by Mughal Emperor Shah Jahan in 1653, a UNESCO World Heritage Site and symbol of eternal love.</p>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card text-center border-secondary border-2 " style="height: 480px;">
                <img src="13c10e94-a4f0-4c0a-b3c1-b6b86e60e4e2.jpeg" alt="taj" class="card-img-top" style="height: 250px;">
                <div class="card-body  ">
                  <h5 class="card-title ">Qutb Minar</h5>
                  <p class="mb-3">Qutub Minar: Tallest Indian minaret, built in 1220, 73m high, red sandstone, Indo-Islamic architecture, UNESCO World Heritage Site, Delhi's iconic historical landmark.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-center border-secondary border-2 "style="height: 480px;">
                <img src="edb90b66-e293-4846-9392-5397a9fe6de0.jpeg" alt="taj" class="card-img-top" style="height: 250px;">
                <div class="card-body  ">
                  <h5 class="card-title ">Charminar</h5>
                  <p class="mb-3">Charminar: Iconic Hyderabad monument, built in 1591, with four minarets, mosque, and Indo-Islamic architecture, symbolizing city's rich history and cultural heritage. </p>
                </div>
              </div>
            </div> 
        
          
        
            <div class="col">
              <div class="card text-center border-secondary border-2 "style="height: 480px;">
                <img src="93e819e5-a4d4-4fac-a200-f75019a4ea80.jpeg" alt="taj" class="card-img-top" style="height: 250px;" >
                <div class="card-body ">
                  <h5 class="card-title ">Red Fort</h5>
                  <p>Red Fort: 17th-century Delhi fortress, built by Shah Jahan, red sandstone, Mughal architecture, UNESCO Site, India's iconic historical monument, palace, and museum complex.</p>
                </div>
              </div>
            </div>
        
            <div class="col">
              <div class="card text-center border-secondary border-2 "style="height: 480px;">
                <img src="25f49ac5-eb06-4bec-9496-21c441a136a6.jpeg" alt="taj"class="card-img-top" style="height: 250px;">
                <div class="card-body ">
                  <h5 class="card-title">Ladak</h5>
                  <p>Ladakh: Scenic Indian region, high-altitude desert, Himalayan landscape, Buddhist monasteries, trekking trails, crystal-clear lakes, and picturesque villages, serene beauty.</p>
                </div>
              </div>
            </div>
        
        
            <div class="col">
              <div class="card text-center border-secondary border-2 " style="height: 480px;">
                <img src="b6bf5d32-fac1-4b7d-8d67-b7807975a81f.jpeg" alt="taj" class="card-img-top" style="height: 250px;" >
                <div class="card-body ">
                  <h5 class="card-title ">Indian Gate</h5>
                  <p>India Gate: Iconic Delhi monument, war memorial, 42m high, red sandstone, honors Indian soldiers, beautiful gardens, evening illuminations, national pride and symbolism.</p>
                </div>
              </div>
            </div>
        
        
            <div class="col">
              <div class="card text-center border-secondary border-2 " style="height: 480px;">
                <img src="fc4ddacc-72a4-4317-ae0f-8572f583da4f.jpeg" alt="taj" class="card-img-top " style="height: 250px;">
                <div class="card-body ">
                  <h5 class="card-title">Jaipur Palac</h5>
                  <p> Jaipur Palace: Majestic Rajasthan palace, blend of Rajput and Mughal architecture, intricate designs, courtyards, gardens, royal grandeur, and rich cultural heritage, stunning beauty.</p>
                </div>
              </div>
            </div>
        
        
            <div class="col">
              <div class="card text-center border-secondary border-2 " style="height: 480px;">
                <img src="6dc930cf-98c6-4d10-9136-da75ecd63ee8.jpeg" alt="taj"class="card-img-top" style="height: 250px;" >
                <div class="card-body ">
                  <h5 class="card-title">Mysure Palace</h5>
                  <p>Mysore Palace: Grand Karnataka palace, Indo-Saracenic architecture, ornate decorations, stained glass, carved wooden doors, majestic halls, and vibrant gardens, royal splendor.  </p>
                </div>
              </div>
            </div>
        
            <footer class="blockquote-footer bg-transparend text-center fs-5">Indian Tourist Places</footer>
        
        
          </div>
        </div>
    
        
        </div>
          
        
        
        
        
        
       



    </div>

    {% endblock content %}



    {% block script %}{% endblock script %}